{% extends "admin/base.html" %}

{% block title %}Admin Change Password{% endblock %}

{% block main %}
<!-- <div class="custom-container">
    <div class="row text-align-center">
        <div class="subtitle col-md-12">
            <h2 class="subtitle">Change Password</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="display: flex; justify-content: left;">
            <div class="card">
                <div class="card-body" style="width: 400px">
                    <form action="/admin/password/change" method="post">
                        <div class="mb-3">
                            <label for="old_password" class="form-label"><span style="color: red;">*</span>Old Password:</label>
                            <input type="password" id="old_password" name="old_password" class="form-control" placeholder="********" required>
                        </div>
                        <div class="mb-3">
                            <label for="new_password" class="form-label"><span style="color: red;">*</span>New Password:</label>
                            <input type="password" id="new_password" name="new_password" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirm_password" class="form-label"><span style="color: red;">*</span>Confirm New Password:</label>
                            <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
                        </div>
                        <button type="submit" class="save-btn btn dark-button">Change Password</button>
                    </form>
                    {% if msg %}
                        <div class="alert alert-info mt-3">{{ msg }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div> -->




<div class="container">
    <h3 class="text-dark title-text mb-5">Change Password</h3>
    <form action="/admin/password/change" method="post">
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="old_password" class="form-label"><span style="color: red;">*</span>Old Password:</label>
            <input type="password" id="old_password" name="old_password" class="form-control" placeholder="********" required>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="new_password" class="form-label"><span style="color: red;">*</span>New Password:</label>
            <input type="password" id="new_password" name="new_password" class="form-control" required>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label for="confirm_password" class="form-label"><span style="color: red;">*</span>Confirm New Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </div>

      </form>
      {% if msg %}
        <div class="alert alert-info mt-3">{{ msg }}</div>
    {% endif %}
</div>



{% endblock %}
