{% extends "planners/base.html" %}
{% block title %}Message Details{% endblock %}
{% block main %}
  <div class="container">
    <h2>Message Details</h2>
    <dl class="row">
      <dt class="col-sm-3">Name:</dt>
      <dd class="col-sm-9">{{ message[1] }}</dd>
      
      <dt class="col-sm-3">Email:</dt>
      <dd class="col-sm-9">{{ message[2] }}</dd>
      
      <dt class="col-sm-3">Phone:</dt>
      <dd class="col-sm-9">{{ message[3] }}</dd>
      
      <dt class="col-sm-3">Inquiry Date:</dt>
      <dd class="col-sm-9">{{ message[4] }}</dd>
      
      <dt class="col-sm-3">Message:</dt>
      <dd class="col-sm-9">{{ message[5] }}</dd>
    </dl>

    <!-- Back button to navigate back to the message list -->
    <a href="/planner_messages" class="btn btn-secondary">Back</a>
  </div>
{% endblock %}