{% extends "planners/base.html" %}

{% block title %}Planner Dashboard{% endblock %}

{% block main %}

<!-- <h6>events:</h6>{{events}} -->

<div id="calendar" class="my-calendar" style="margin-top: 50px;"></div>

<script>
    // planner calendar
    document.addEventListener('DOMContentLoaded', function () {
        let calendarElement = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarElement, {
            // eventColor: '#378006', //change all eventColor

            nextDayThreshold: '09:00:00',

            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'timeGridWeek, dayGridMonth, listYear'
            },

            events: [
                {% for e in events %}
            {
                title: '{{ e.title }}',
                start: '{{ e.start }}',
                end: '{{ e.end }}',
                color: getColorForEventType('{{ e.title }}'),
                description: '{{ e.description|safe}}'//use the safe filter to tell Jinja not to escape the HTML(handle the "&amp;")
            },
            {% endfor %}
        ],

        eventClick: function (info) {
            const description = info.event.extendedProps.description;
            alert('Event: ' + info.event.title + '\nDescription: ' + description);
            // alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
            // alert('View: ' + info.view.type);

            // change the border color just for fun
            info.el.style.borderColor = 'red';
        }
    });

    function getColorForEventType(title) {
        if (title === 'Conference') {
            return '#9A3B3B';
        } else if (title === 'Corporate Event') {
            return '#35A29F';
        } else if (title === 'Corporate Meeting') {
            return '#071952';
        } else if (title === 'Exhibition') {
            return '#451952';
        } else if (title === 'Private Event') {
            return '#662549';
        } else if (title === 'Wedding') {
            return '#AE445A';
        } else {
            return '#F39F5A'
        }
    }

    calendar.render();
});
</script>

{% endblock %}